<div class="layout1">
    <app-form-ad
    [Link1]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-d_tcm221-383363.jpg'
    "
    [Link2]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-t_tcm221-383365.jpg'
    "
    [Link3]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-m_tcm221-383364.jpg'
    "
    [img]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-m-mh-small-runner-d_tcm221-383363.jpg'
    "
    [lable]="'ULTRABOOST 19'"
    [title]="
      'Comfort, responsiveness, and style. There`s nothing like Ultraboost 19—now in all-new colors.'
    "
    [bt1]="'SHOP NOW'"
    [bt2]="'LEARN MORE'"
    [checkBt]="false"
  ></app-form-ad>
  <div class="type d-flex justify-content-center">  MEN</div>
</div>
<div class="page">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
          media="(min-width: 960px)"
          class="img" srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_red_tcm221-379916.jpg"/>
        <source
        class="img" srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_M_T_Teaser_red_tcm221-379920.jpg"/>
        <img
        class="img" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_red_tcm221-379916.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP SHOES'" [routerLink]="['/shop/shopItem/shop-men/shop-shoes']"></app-button-now-white> </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_blue_tcm221-379914.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_M_T_Teaser_blue_tcm221-379918.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_blue_tcm221-379914.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP Apparel'" [routerLink]="['/shop/shopItem/shop-men/shop-Apparel']"></app-button-now-white> </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_orange_tcm221-379915.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_M_T_Teaser_orange_tcm221-379919.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_orange_tcm221-379915.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP BOTTOMS'" ></app-button-now-white> </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_yellow_tcm221-379917.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_M_T_Teaser_yellow_tcm221-379921.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_Desktop_Teaser_yellow_tcm221-379917.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP ALL MEN`S'" [routerLink]="['/shop/shopItem/shop-men/shop-all']"></app-button-now-white> </div>
    </div>
  </div>
</div>
<app-form-ad
  [Link1]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/football-fw19-hardwired-glp-hp-mh-small-d-combined_tcm221-372882.jpg'"
  [Link2]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/football-fw19-hardwired-glp-hp-mh-small-t-combined_tcm221-372884.png'"
  [Link3]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/football-fw19-hardwired-glp-hp-mh-small-m-combined_tcm221-372883.png'"
  [img]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/football-fw19-hardwired-glp-hp-mh-small-d-combined_tcm221-372882.jpg'"
  [checkBt]="true"
  [bt1]="'PREVIEW NOW'"
  [bt2]="'EXPLORE'"
  [lable]="'DARE TO CREATE'"
  [title]="'These boots come with some conditions. Take the deal.'"
  >
</app-form-ad>
