<div class="layout1">
  <app-form-ad
    [Link1]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-d_tcm221-383044.jpg'
    "
    [Link2]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-t_tcm221-383046.jpg'
    "
    [Link3]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-m_tcm221-383045.jpg'
    "
    [img]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-launch-glp-k-mh-small-1-d_tcm221-383044.jpg'
    "
    [lable]="'ULTRABOOST 19: NEW COLORS'"
    [title]="
      'Now available: Fresh colors. New energy.'
    "
    [bt1]="'SHOP NOW'"
    [bt2]="'EXPLORE MORE'"
    [checkBt]="false"
  ></app-form-ad>
  <div class="type d-flex justify-content-center">KIDS</div>
</div>
<div class="layout2">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D3_Teaser_3X_DT_tcm221-383151.jpg"/>
        <source
        class="img"
          media="(min-width: 600px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D3_Teaser_3X_T_tcm221-383153.jpg"/>
        <source
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D3_Teaser_3X_T_tcm221-383153.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D3_Teaser_3X_DT_tcm221-383151.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP INFANTS'" ></app-button-now-white></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D5_Teaser_3X_DT_tcm221-383157.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D5_Teaser_3X_M_tcm221-383158.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D5_Teaser_3X_DT_tcm221-383157.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP CHILDREN'" ></app-button-now-white></div>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D6_Teaser_3X_DT_tcm221-383160.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D6_Teaser_3X_M_tcm221-383161.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/D6_Teaser_3X_DT_tcm221-383160.jpg"
      /></picture>
      <div class="diplay-bot"><app-button-now-white [btname]="'SHOP YOUTH'" ></app-button-now-white></div>

    </div>
  </div>
</div>
<div class="layout3">
  <app-form-ad
    [Link1]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/HP_MH_1920x800_5-2_tcm221-378223.jpg'
    "
    [Link2]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/HP_MH_HOC_1200x1000_5_tcm221-377296.jpg'
    "
    [Link3]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/HP_MH_HOC_800x1000_5_tcm221-377294.jpg'
    "
    [img]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/HP_MH_1920x800_5-2_tcm221-378223.jpg'
    "
    [lable]="'CLASSICS FOR KIDS'"
    [title]="'Iconic sneakers built for sport, worn for play.'"
    [bt1]="'SHOP GIRLS'"
    [bt2]="'SHOP BOYS'"
    [checkBt]="true"
  ></app-form-ad>
</div>
