.type{
  position: absolute;
  bottom:  -40px;;
  background: white;
  width: 90%;
  transform: translate(-50%,-50%);
  left: 50%;
  font-size: 2rem;
  padding-bottom: 15px;
  padding-top: 15px;
}
.layout1{
  position: relative;
}
.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.layout2{
  padding: 1.5rem;
}
.diplay-bot{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
