<div id="admin">
  <div class="bg-lights ">
    <div class="row m-0 h-100">
      <div class="col-md-3 col-xl-2 p-0">
        <div
          class="  col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3 bg-blue h-100"
        >
          <app-menu-option></app-menu-option>
          <app-options (valueChange)="displayCounter($event)"></app-options>
        </div>
      </div>
      <div class="col-md-9 col-xl-10 p-0">
        <div [ngSwitch]="count">
          <div *ngSwitchCase="'Category'" class="text-success">
            <app-category></app-category>
          </div>
          <div *ngSwitchCase="'User'" class="text-primary">
            <app-user></app-user>
          </div>
          <div *ngSwitchCase="'Contact'" class="text-danger">
            <app-contact></app-contact>
          </div>
          <div *ngSwitchCase="'Product'" class="text-danger">
            <app-product></app-product>
          </div>
          <div *ngSwitchDefault class="text-warning">
            <app-dashboard></app-dashboard>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-waiting></app-waiting>
