<div class="container-fluid px-0">
    <div class="bg-yellow">
      <div class="container pt-5 pb-3 ">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="sign-up row mx-0">
              <div class="ts1  "><b>SIGN UP FOR NEWS & GET</b></div>
               <span class="ts1 mb-2"><b>15% OFF</b></span>
            </div>
            <span *ngIf="info == true" class="rp260"
              >By clicking the "Sign up" button, I confirm I am over 13 years of
              age. Sign me up for the adidas emails, featuring exclusive offers,
              latest product info, news about upcoming events and more. Please see
              our Terms & Conditions and Privacy Policy for more details. Selected
              products may be excluded from the 15% promotion.</span
            >
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class=" row mx-0 py-4 h-100 justify-content-end ts1 search-s">
              <div class="input-s mins">
                <input
                  type="email"
                  class="form-control "
                  placeholder="YOUR EMAIL"
                  (focus)="focus()"
                />
              </div>
              <div class="mg">
                <a type="buton" href="" class=" btn bg-black btn-after ab part"
                  >Sign up
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluit black">
      <div class=" container p-3">
        <div class="row mobile">
          <div class="col-12 col-sm-12 col-md-12  col-lg-10">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <ul>
                  <li class="list-unstyled">
                    <h5><a>CUSTOMER SUPPORT</a></h5>
                  </li>
                  <li class="list-unstyled"><a>Help</a></li>
                  <li class="list-unstyled"><a>Order Tracker</a></li>
                  <li class="list-unstyled"><a>Returns & Refunds</a></li>
                  <li class="list-unstyled"><a>Sizing</a></li>
                  <li class="list-unstyled"><a>Promotions</a></li>
                  <li class="list-unstyled"><a>How to Clean</a></li>
                  <li class="list-unstyled"><a>Store Locator</a></li>
                  <li class="list-unstyled"><a>Site Map</a></li>
                </ul>
              </div>
              <div class=" col-12 col-sm-6 col-md-6 col-lg-3 ">
                <ul>
                  <li class="list-unstyled">
                    <h5><a>COMPANY INFO</a></h5>
                  </li>
                  <li class="list-unstyled">&nbsp;</li>
                  <li class="list-unstyled"><a>Help</a></li>
                  <li class="list-unstyled"><a>Order Tracker</a></li>
                  <li class="list-unstyled"><a>Returns & Refunds</a></li>
                  <li class="list-unstyled"><a>Sizing</a></li>
                  <li class="list-unstyled"><a>Promotions</a></li>
                  <li class="list-unstyled"><a>How to Clean</a></li>
                  <li class="list-unstyled"><a>Store Locator</a></li>
                  <li class="list-unstyled"><a>Site Map</a></li>
                </ul>
              </div>
              <div class=" col-12 col-sm-6 col-md-6 col-lg-3">
                <ul>
                  <li class="list-unstyled">
                    <h5><a>PARTNER SITES </a></h5>
                  </li>
                  <li class="list-unstyled">&nbsp;</li>
                  <li class="list-unstyled"><a>Help</a></li>
                  <li class="list-unstyled"><a>Order Tracker</a></li>
                  <li class="list-unstyled"><a>Returns & Refunds</a></li>
                  <li class="list-unstyled"><a>Sizing</a></li>
                  <li class="list-unstyled"><a>Promotions</a></li>
                  <li class="list-unstyled"><a>How to Clean</a></li>
                  <li class="list-unstyled"><a>Store Locator</a></li>
                  <li class="list-unstyled"><a>Site Map</a></li>
                </ul>
              </div>
              <div class=" col-12 col-sm-6 col-md-6 col-lg-3">
                <ul>
                  <li class="list-unstyled">
                    <h5><a>PRIVACY & TERMS</a></h5>
                  </li>
                  <li class="list-unstyled"><a>Help</a></li>
                  <li class="list-unstyled"><a>Order Tracker</a></li>
                  <li class="list-unstyled"><a>Returns & Refunds</a></li>
                  <li class="list-unstyled"><a>Sizing</a></li>
                  <li class="list-unstyled"><a>Promotions</a></li>
                  <li class="list-unstyled"><a>How to Clean</a></li>
                  <li class="list-unstyled"><a>Store Locator</a></li>
                  <li class="list-unstyled"><a>Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12 col-ds-3  col-lg-2">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <ul>
                  <li class="list-unstyled"><h5>GIFT CARDS</h5></li>
                  <li class="list-unstyled">&nbsp;</li>
                  <li class="list-unstyled"><a>Help</a></li>
                  <li class="list-unstyled"><a>Order Tracker</a></li>
                  <li class="list-unstyled"><a>Returns & Refunds</a></li>
                  <li class="list-unstyled"><a>Sizing</a></li>
                  <li class="list-unstyled"><a>Promotions</a></li>
                  <li class="list-unstyled"><a>How to Clean</a></li>
                  <li class="list-unstyled"><a>Store Locator</a></li>
                  <li class="list-unstyled"><a>Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class=" footer2">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 w-50 d-flex justify-content-center">
              <div class=" ">
                <div class="d-flex justify-content-center py-2">Help</div>
                <div class="d-flex justify-content-center py-2">
                  Order Tracker & Returns
                </div>
                <div class="d-flex justify-content-center py-2">Store Finder</div>
                <div class="d-flex justify-content-center py-2">promotions</div>
              </div>
            </div>
            <div class=" col-12 col-sm-6 col-md-6  w-50 d-flex justify-content-center">
              <div class="">
                <div class="d-flex justify-content-center py-2">
                  Creators Club
                </div>
                <div class="d-flex justify-content-center py-2">Mobile Apps</div>
                <div class="d-flex justify-content-center py-2">Gift Cards</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" bg-black bg-auto py-2">
      <div class="container ">
        <div class="row ts2">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4  d-flex align-items-center">
            <div>
              <img class="fix2" src="./assets/img/en_US.png" /><span>USA</span>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-8 col-xl-8 row d-flex align-items-center ">
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-end">
              <span class="pr-3 mobile">|</span>
              <div class="pr-3">Privacy Policy</div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-end">
              <span class="pr-3 mobile">|</span>
              <div class="pr-3">Terms and Conditions</div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-end">
              <span class="pr-3 mobile">|</span>
              <div class="pr-3">© 2019 adidas America Inc.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

