
<div class="container ">
    <div class="row">
      <div class="itemUser px-0 my-5">
        <video
          class="image"
          loop=""
          autoplay=""
          playsinline=""
          src="https://www.adidas.com/5280/campaigns/Pharrell_FW19/Originals_FW19_PHARRELL_CatLP_TC-DT-V2.mp4"
        ></video>
        <div class="bottom-center">Personal account</div>
        <div class="overlay">
          <div class="item itemy">
            <a href="#" class="button-20">
              <span class="front">Click</span>
              <span class="center"></span>
              <span class="back">Here</span>
            </a>
          </div>
        </div>
      </div>
      <div class="my-5 itemUser px-0">
        <img
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-bb-boost-ub19-holistic-hp-teaser-large-2up-card2-d_tcm221-380074.jpg"
          class="image"
        />
        <div class="bottom-center1">Business account</div>
        <div class="overlay1">
          <div class="item itemy">
            <a href="#" class="button-20">
              <span class="front">Click</span>
              <span class="center"></span>
              <span class="back">Here</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
