.itemUser {
  position: relative;
  width: 50%;

}

.image {
  display: block;
  width: 100%;
  height: 100%;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-image: url("../../../assets/img/buy.jpg");
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  background-size:  cover;
}

.itemUser:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}



.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../../assets/img/admin.jpg");
  background-size:  cover;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.itemUser:hover .overlay1 {
  width: 100%;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*button-20*/
.itemy {
  background-color: #262626;
}
.button-20
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 200px;
height: 60px;
text-align: center;
transform-style: preserve-3d;
perspective: 1000px;
transform-origin: center center;
}
.button-20 span
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
text-align: center;
line-height: 60px;
font-size: 24px;
background: rgba(255,255,255,.05);
transform-style: preserve-3d;
backface-visibility: hidden;
border-radius: 30px;
text-transform: uppercase;
color: #fff;
transition: 1s;
}
.button-20 span.front
{
transform: rotateX(0deg) translateZ(20px);
}
.button-20:hover span.front
{
transform: rotateX(-180deg) translateZ(20px);
}
.button-20 span.back
{
transform: rotateX(180deg) translateZ(20px);
}
.button-20:hover span.back
{
transform: rotateX(0deg) translateZ(20px);
}
.button-20 span.center
{
background: linear-gradient(to left, #c31a5b, #7129bd);
}
.button-20 span.center:before
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left, #ffdd1f, #c31a5b);
border-radius: 30px;
transform: translateZ(-1px);
}
.button-20:hover span.center
{
transform: rotateX(-180deg);
}



/* Bottom left text */
.bottom-center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}
.bottom-center1 {
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
