<app-header class="fulls w-100" id="header"></app-header>
<app-form-ad
  [Link1]="
    'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-rfto-launch-hp-mh-medium-d_tcm221-363310.jpg'
  "
  [Link2]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-rfto-launch-hp-mh-medium-t_tcm221-363312.jpg'"
  [Link3]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-rfto-launch-hp-mh-medium-m_tcm221-363311.jpg'"
  [img]="'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-rfto-launch-hp-mh-medium-d_tcm221-363310.jpg'"
  [title]="'It`s on! Join the fight against marine plastic pollution by signing up via the Runtastic app and get running.'"
  [lable]="'RUN FOR THE OCEANS'"
  [bt1]="'join now'"
  [bt2]="'shop now'"
  ></app-form-ad>
<app-footer></app-footer>

