<div class="layout1">
  <app-form-ad
    [Link1]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-w-mh-small-runner-d_tcm221-383357.jpg'
    "
    [Link2]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-w-mh-small-runner-t_tcm221-383359.jpg'
    "
    [Link3]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-w-mh-small-runner-m_tcm221-383358.jpg  '
    "
    [img]="
      'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/running-fw19-ub19-sustain-glp-w-mh-small-runner-d_tcm221-383357.jpg'
    "
    [lable]="'ULTRABOOST 19'"
    [title]="
      'Comfort, responsiveness, and style. There`s nothing like Ultraboost 19—now in all-new colors.'
    "
    [bt1]="'SHOP NOW'"
    [bt2]="'LEARN MORE'"
    [checkBt]="false"
  >
  </app-form-ad>
  <div class="type d-flex justify-content-center">WOMEN</div>
</div>
<div class="page">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
          media="(min-width: 960px)"
          class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_480x480_1_tcm221-378316.jpg"/>
        <source
          class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_1200x960_1_tcm221-378318.jpg"/>
        <img
          class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_480x480_1_tcm221-378316.jpg"
      /></picture>
      <div class="diplay-bot">
        <app-button-now [btname]="'SHOP BRAS'"></app-button-now>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
          class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_480x480_2_tcm221-378317.jpg"/>
        <source
          class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_1200x960_2_tcm221-378319.jpg"/>
        <img
          class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/4x1_teaser_480x480_2_tcm221-378317.jpg"
      /></picture>
      <div class="diplay-bot">
        <app-button-now [btname]="'SHOP TIGHTS'"></app-button-now>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
         class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/W_GLP_SILHOUETTE_UPDATED_480x480_tcm221-370299.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/W_GLP_SILHOUETTE_UPDATED_480x480_tcm221-370299.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/W_GLP_SILHOUETTE_UPDATED_480x480_tcm221-370299.jpg"
      /></picture>
      <div class="diplay-bot">
        <app-button-now [btname]="'SHOP SHOES'"></app-button-now>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <picture
        ><source
        class="img"
          media="(min-width: 960px)"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/training-fw19-bras-and-tights-glp-tc-grid-4x1-training2_tcm221-369977.jpg"/>
        <source
        class="img"
          srcset="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/training-fw19-bras-and-tights-glp-tc-grid-4x1-training2_tcm221-369977.jpg"/>
        <img
        class="img"
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/training-fw19-bras-and-tights-glp-tc-grid-4x1-training2_tcm221-369977.jpg"
      /></picture>
      <div class="diplay-bot">
        <app-button-now
          [btname]="'SHOP ALL'"
        ></app-button-now>
      </div>
    </div>
  </div>
</div>
<app-form-ad
  [Link1]="
    'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-DT_tcm221-365714.jpg'
  "
  [Link2]="
    'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-T_tcm221-365716.jpg'
  "
  [Link3]="
    'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-M_tcm221-365715.jpg'
  "
  [img]="
    'https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/FW19_ADICOLOR_ONSITES_WOMENSGLP_MH-DT_tcm221-365714.jpg'
  "
  [checkBt]="true"
  [bt1]="'SHOP NOW'"
  [bt2]="'SHOP ALL ADICOLOR'"
  [lable]="'DARE TO CREATE'"
  [title]="'These boots come with some conditions. Take the deal.'"
>
</app-form-ad>
