<div class="row ">
  <div class="col-12 p-0 bg-blue">
    <div class="list-group border-0 " id="list-tab" role="tablist">
      <a class="list-group-item border-0 list-group-item-action active bg-blue" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" (click)="valueChanged('Dashboard')">Dashboard</a>
      <a class="list-group-item border-0 list-group-item-action bg-blue" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" (click)="valueChanged('Category')">Category</a>
      <a class="list-group-item border-0 list-group-item-action bg-blue" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages" (click)="valueChanged('User')" >User</a>
      <a class="list-group-item border-0 list-group-item-action bg-blue" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" (click)="valueChanged('Contact')">Contact</a>
      <a class="list-group-item border-0 list-group-item-action bg-blue" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" (click)="valueChanged('Product')">Product</a>
    </div>
  </div>
</div>

