
.list-group-item.active::after {
  content: "";
  border-right: 20px solid #1793b5;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 0px;

}
.list-group-item.active {
  color: red;
  background-color: white !important;
}
.bg-blue{
  background: #1793b5 !important;
  color:white;
}
